<div class="container">
  <div class="gen">
    <h1 class="gen__heading">Password Generator</h1>

    <div class="in">
      <label class="in__label">Length</label>
      <input (input)="onUserInput(length.value)" #length class="in__text" maxlength="20" placeholder="Enter password's length"/>
    </div>
    
    <div class="options">
      <div class="option">
        <input (change)="onChangeIncludeNumbers()" class="option__input" type="checkbox"/>
        <label class="option__label">Include <b>Numbers</b></label>
      </div>
      <div class="option">
        <input (change)="onChangeIncludeLetters()" class="option__input" type="checkbox"/>
        <label class="option__label">Include <b>Letters</b></label>
      </div>
      <div class="option">
        <input (change)="onChangeIncludeSymbols()" class="option__input" type="checkbox"/>
        <label class="option__label">Include <b>Symbols</b></label>
      </div>
      <div class="option">
        <input (change)="onChangeIncludeLowercase()" class="option__input" type="checkbox"/>
        <label class="option__label">Include <b>Lowercase</b></label>
      </div>
      <div class="option">
        <input (change)="onChangeIncludeUppercase()" class="option__input" type="checkbox"/>
        <label class="option__label">Include <b>Uppercase</b></label>
      </div>
    </div>
    
    <button class="btn" 
     [disabled]="!((length !== 0) && (includeLetters || includeNumbers || includeUppercase || includeLowercase || includeSymbols))"
     (click)="onButtonClick()">Generate !</button>

    <div *ngIf="password !== ''" class="result">
      <label class="result__label">Your Password</label>
      <input [value]="password" type="text" class="result__password" placeholder="..." id="result">
      <button (click)="onClickCopy()" class="btn btn--green">Copy</button>
    </div>
  </div>
</div>